Flask==1.0.2
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask-SocketIO==4.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
python-engineio==3.14.2
python-socketio==4.6.1
protobuf==3.17.3
h5py==2.10.0
six==1.11.0
Werkzeug==0.14.1
gunicorn
eventlet<0.31.0
numpy==1.18.5
tensorflow==1.15.0
keras==2.3.1
wget